<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="loglevel" value="ALL"/>
    <add key="use_queue" value="true"/>
    <add key="multithread" value="false"/>
    <add key="customer_key" value=""/>
    <add key="customer_secret" value=""/>
    <add key="access_token" value=""/>
    <add key="access_token_secret" value=""/>
    <add key="stream_url" value="https://stream.twitter.com/1.1/statuses/filter.json"/>

    <!-- Track contributions by Joe Vivona -->
    <!-- track_keywords   
            Specifies keywords to track. Keywords are specified by a comma separated list. 
            Queries are subject to Track Limitations, described in Track Limiting and subject to access roles, 
            describe in the statuses/filter method. Track keywords are case-insensitive logical ORs. 
            Terms are exact-matched, and also exact-matched ignoring punctuation. Phrases, keywords with spaces, are not supported. 
            Keywords containing punctuation will only exact match tokens. Some UTF-8 keywords will not 
            match correctly- this is a known temporary defect.
            
            Track_keywords examples: The keyword Twitter will match all public statuses with the following 
            comma delimited tokens in their text field: TWITTER, twitter, "Twitter", twitter., #twitter and @twitter. 
            The following tokens will not be matched: TwitterTracker and http://www.twitter.com,  
            The phrase, excluding quotes, "hard alee" won't match anything. The keyword 
            "helm's-alee" will match helm's-alee but not #helm's-alee.
    
            Values: Strings separated by commas. Each string must be between 1 and 30 bytes, inclusive.-->
    <add key="track_keywords" value=""/>

    <!--follow_userid are Twitter user IDs (integers), separated by commas-->
    <add key="follow_userid" value=""/>


    <!--
                Specifies a set of bounding boxes to track.  Only tweets that are both created using 
                the Geotagging API and are placed from within a tracked bounding box will be included in the stream 
                the user's location field is not used to filter tweets (e.g. if a user has their location 
                set to "San Francisco", but the tweet was not created using the Geotagging API and has no 
                geo element, it will not be included in the stream).  Bounding boxes are specified as a comma 
                separate list of longitude/latitude pairs, with the first pair denoting the southwest corner of the box.  
                For example locations=-122.75,36.8,-121.75,37.8 would track tweets from the San Francisco area.  
                Multiple bounding boxes may be specified by concatenating latitude/longitude pairs, for example 
                locations=-122.75,36.8,-121.75,37.8,-74,40,-73,41 would track tweets from San Francisco and New York City.

                Just as with the track parameter, queries are subject to Track Limitations, 
                described in Track Limiting and subject to access roles, described in the statuses/filter method.  
                Both the number and size of bounding boxes is limited.  Bounding boxes must be less than one degree 
                per side, and you may specify up to ten bounding boxes.
                Bounding boxes are logical ORs. A locations parameter may be combined with track 
                parameters, but note that all terms are logically ORd, so the query 
                string track=twitter&locations=-122.75,36.8,-121.75,37.8 would match any tweets 
                containing the term Twitter (even non-geo tweets) or coming from the San Francisco area.

                Values: longitude/latitude pairs, separated by commas.  The first pair specifies the southwest corner of the box.-->
    <add key="location_coord" value=""/>
  </appSettings>
</configuration>